@charset "UTF-8";
@font-face {
  font-family: Epilogue;
  src: url(../fonts/Epilogue/Epilogue-VariableFont_wght.ttf);
}
body {
  font-family: Epilogue;
  margin: 0 auto;
  background-color: hsl(0deg, 0%, 98%);
  /*Style de la barre de navigation */
  /*Style de la page principale*/
  /*Style lié au footer*/
}
body header .navbar {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}
body header .navbar .menuBtn {
  height: 5%;
}
body header .navbar .menuBtn:hover {
  cursor: pointer;
}
body header .navbar .menu-responsive {
  position: fixed;
  top: 0;
  right: 0;
  background-color: hsl(0deg, 0%, 98%);
  height: 100vh;
  width: 50%;
  padding: 5%;
  display: none;
  z-index: 1;
}
body header .navbar .menu-responsive .BtnResponsive {
  float: right;
  top: 0;
}
body header .navbar .menu-responsive .BtnResponsive:hover {
  cursor: pointer;
}
body header .navbar .menu-responsive .content1 {
  margin-top: 50px;
}
body header .navbar .menu-responsive .content1 ul {
  padding-left: 0px;
}
body header .navbar .menu-responsive .content1 ul li {
  list-style-type: none;
}
body header .navbar .menu-responsive .content1 ul li a {
  color: hsl(0deg, 0%, 41%);
  font-size: 14px;
  margin: 15px 0;
}
body header .navbar .menu-responsive .content1 ul .featureDisplay li a, body header .navbar .menu-responsive .content1 ul .companyDisplay a, body header .navbar .menu-responsive .content1 ul li a {
  text-decoration: none;
  margin: 15px 0;
}
body header .navbar .menu-responsive .content1 ul .featureDisplay li a:hover, body header .navbar .menu-responsive .content1 ul .companyDisplay a:hover, body header .navbar .menu-responsive .content1 ul li a:hover {
  cursor: pointer;
}
body header .navbar .menu-responsive .content1 ul .featureDisplay li .arrow-up, body header .navbar .menu-responsive .content1 ul .featureDisplay li .arrow-down, body header .navbar .menu-responsive .content1 ul .companyDisplay .arrow-up, body header .navbar .menu-responsive .content1 ul .companyDisplay .arrow-down, body header .navbar .menu-responsive .content1 ul li .arrow-up, body header .navbar .menu-responsive .content1 ul li .arrow-down {
  margin-left: 7px;
}
body header .navbar .menu-responsive .content1 ul .featureDisplay li .arrow-up:hover, body header .navbar .menu-responsive .content1 ul .featureDisplay li .arrow-down:hover, body header .navbar .menu-responsive .content1 ul .companyDisplay .arrow-up:hover, body header .navbar .menu-responsive .content1 ul .companyDisplay .arrow-down:hover, body header .navbar .menu-responsive .content1 ul li .arrow-up:hover, body header .navbar .menu-responsive .content1 ul li .arrow-down:hover {
  cursor: pointer;
}
body header .navbar .menu-responsive .content1 ul .featureDisplay li .arrow-up, body header .navbar .menu-responsive .content1 ul .companyDisplay .arrow-up, body header .navbar .menu-responsive .content1 ul li .arrow-up {
  display: none;
}
body header .navbar .menu-responsive .content1 ul li {
  margin: 15px 0;
}
body header .navbar .menu-responsive .content1 ul .featureMenu, body header .navbar .menu-responsive .content1 ul .companyMenu {
  display: none;
  padding-left: 40px;
  margin: 15px 0;
  color: hsl(0deg, 0%, 41%);
  font-size: 14px;
}
body header .navbar .menu-responsive .content1 ul .featureMenu .icon, body header .navbar .menu-responsive .content1 ul .companyMenu .icon {
  margin-right: 7px;
}
body header .navbar .menu-responsive .content2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
body header .navbar .menu-responsive .content2 a {
  text-decoration: none;
  color: hsl(0deg, 0%, 41%);
  font-size: 14px;
  text-align: center;
  width: 100%;
  margin-bottom: 2%;
  padding: 4%;
  border-radius: 8px;
  border: 1px solid hsl(0deg, 0%, 41%);
}
body header .navbar .menu-responsive .content2 a:hover {
  cursor: pointer;
  background-color: hsl(0deg, 0%, 8%);
  color: white;
  border: none;
  transition: all 1.5s ease;
}
body main .container {
  display: flex;
  flex-direction: column-reverse;
}
body main .container .section1 {
  text-align: center;
}
body main .container .section1 h1 {
  font-size: 2.2rem;
}
body main .container .section1 p {
  text-align: center;
  color: hsl(0deg, 0%, 41%);
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-left: 10px;
  margin-right: 10px;
}
body main .container .section1 a {
  text-align: center;
  padding: 3%;
  text-decoration: none;
  border: 1px solid hsl(0deg, 0%, 41%);
  border-radius: 15px;
  color: hsl(0deg, 0%, 41%);
}
body main .container .section1 a:hover {
  cursor: pointer;
  background-color: hsl(0deg, 0%, 8%);
  color: white;
  border: none;
  transition: all 1.5s ease;
}
body main .container .section1 .logo {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 8%;
  align-items: center;
}
body main .container .section1 .logo .logoft {
  width: 17%;
}
body main .container .section1 .logo .audiophile {
  width: 12%;
}
body main .container .section2 .desktop {
  display: none;
}
body main .container .section2 .mobile {
  width: 100%;
  margin-bottom: 25px;
}
body footer {
  margin-top: 35px;
}
body footer p {
  text-align: center;
  font-size: 13px;
}
body footer p a {
  color: hsl(0deg, 0%, 8%);
  text-decoration: none;
}

@media (min-width: 1200px) {
  body {
    /*Style de la page principale*/
  }
  body header .navbar {
    padding: 2%;
    margin-bottom: 2.5%;
  }
  body header .navbar .menuBtn {
    display: none;
  }
  body header .navbar .menu-responsive {
    background-color: transparent;
    display: block;
    top: 0;
    float: none;
    position: absolute;
  }
  body header .navbar .menu-responsive .BtnResponsive {
    display: none;
  }
  body header .navbar .menu-responsive .content1 ul {
    display: flex;
    gap: 30%;
    position: absolute;
    left: -40%;
    top: -16px;
  }
  body header .navbar .menu-responsive .content1 ul .featureMenu {
    top: 35px;
    left: -50px;
    border-radius: 25px;
    padding-right: 40px;
    background-color: white;
    box-shadow: 15px 6px 25px 1px hsl(0deg, 0%, 41%);
  }
  body header .navbar .menu-responsive .content1 ul .companyMenu {
    top: 35px;
    left: 100px;
    width: 75px;
    padding-right: 40px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 15px 6px 25px 1px hsl(0deg, 0%, 41%);
  }
  body header .navbar .menu-responsive .content1 ul .featureDisplay {
    display: flex;
  }
  body header .navbar .menu-responsive .content1 ul .featureDisplay img {
    width: 15px;
    height: 8px;
    position: absolute;
    top: 35px;
    left: 60px;
  }
  body header .navbar .menu-responsive .content1 ul .companyDisplay {
    display: flex;
  }
  body header .navbar .menu-responsive .content1 ul .companyDisplay img {
    width: 15px;
    height: 8px;
    position: absolute;
    top: 35px;
    left: 166px;
  }
  body header .navbar .menu-responsive .content1 ul .carreer-res {
    position: absolute;
    top: 14px;
    left: 220px;
  }
  body header .navbar .menu-responsive .content1 ul .about-res {
    position: absolute;
    top: 14px;
    left: 320px;
  }
  body header .navbar .menu-responsive .content2 {
    display: block;
    position: absolute;
    right: 15%;
    top: 3.5%;
  }
  body header .navbar .menu-responsive .content2 a {
    padding: 20px;
    width: 45px;
    border: none;
  }
  body main .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body main .container .section1 {
    width: 40%;
    margin-right: 6%;
    text-align: left;
  }
  body main .container .section1 h1 {
    font-size: 6rem;
    text-align: left;
    margin-bottom: 0;
  }
  body main .container .section1 p {
    text-align: left;
    width: 75%;
    margin-bottom: 10%;
  }
  body main .container .section1 .logo {
    margin-top: 6rem;
    display: flex;
    justify-content: left;
  }
  body main .container .section2 .desktop {
    display: block;
    width: 450px;
    margin-bottom: 25px;
  }
  body main .container .mobile {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */